@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */


td label{
	
	font-family:"Calibri";
	font-size: 12pt;
	text-align: left;
	
	color: #000;
}
table tr td h3 center{
	
	font-family:"Adobe Gothic Std B";
	font-size: 13pt;
	text-align: center;
	color: #000;
}

center table tr th center{
font-family:"Adobe Gothic Std B";
	font-size: 10pt;
	text-align: center;
	color: #000;
}
center table td center{
font-family:"Calibri";
	font-size: 10pt;
	text-align: center;
	color: #000;
}

form center h3{
	font-family:"Adobe Gothic Std B";
	font-size: 13pt;
	text-align: center;
	color: #000;
}
form center table tr td{
	font-family:"Calibri";
	font-size: 13pt;
	
	
	color: #000;
	
	
	
}


input.textfield
{
	background-color: #77759f;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

select.textfield
{
	background-color: #77759f;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
select.select
{
	background-color: #77759f;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
textarea.textfield
{
	background-color: #77759f;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

input.button
{
	/*border-color:red red red red;
	background-color: #77759f;
	border-style: ridge;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;*/
border-color:#FFFFFF;
	background-color: #000000;
	font-weight: bold;
	color:#fff;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;

	border-radius-topleft:5px;
	border-radius-topright:5px;
	border-radius-bottomleft:5px;
	border-radius-bottomright:5px;

	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

input:focus
{
	border-color:blue blue blue blue;
	border-width:thick thick thick thick;
	height:20px;
	background-color:white;
	

}
textarea:focus
{
	border-color:blue blue blue blue;
	border-width:thick thick thick thick;

	background-color:white;
	

}

#id
{
 display:none;
}

