#wrapper {
	width: 1200px;
	margin: 0 auto 0 auto;
	
}

#header {
	/*background-color: #440602;
	float: left;
	height: 150px;
	width: 1000px;
	*/
	
	
/*	font-size: 20pt;
	font-family:Cambria;
	text-shadow:#00C;
	text-decoration:underline;*/
	
	width:100%;
	height:160px;
	float:left;
	background-color: #00FF00;
	clear:both;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-radius-topleft:5px;
	border-radius-topright:5px;
	border-radius-bottomleft:0px;
	border-radius-bottomright:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	/*background-image: url(../img/kezon.png);*/
	/*background-image: url(../img/kzn.png);*/
	
	background-size:cover;
}

#cuerpo {
    /*background-image: url(../img/fondo2.jpg);*/
	float: left;
	height: 440px;
	width: 1200px;
}

#resul1{
	
	float: left;
	height: 440px;
	width: 600px;
	background-color: #00FF00;

}

#resul2{
	
    float: right;
	height: 440px;
	width: 600px;
	background-color: #00FF00;
}

#resultado {
	
	background-color: #00FF00;
	
	height: 300px;
	width: 650px;
	margin-top:50px;
	margin-left: 80px;
}

#footer 
{
	clear: both;
	float: left;
	height: 100px;
	width: 1200px;
	background-color: #00FF00;
}

@charset "utf-8";

#menu {
	background-color: #00FF00;
	float: left;
	height: 440px;
	width: 200px;
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.textoTitulo{
	
	font-family:"Britannic Bold";
	font-size: 15pt;
	text-align: center;
	color: #FFF;
}

.textoCaja{
	
	font-family:"Britannic Bold";
	font-size: 12pt;
	text-align: left;
	color: #0F0;
}

input.caja
{
	background-color: #00FF00;
	color:#FFF;
	border-style: double;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;

	border-radius-topleft:5px;
	border-radius-topright:5px;
	border-radius-bottomleft:5px;
	border-radius-bottomright:5px;

	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

input.button
{
	border-color:#FFFFFF;
	background-color: #00FF00;
	font-weight: bold;
	color:#FFF;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;

	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;

	border-radius-topleft:5px;
	border-radius-topright:5px;
	border-radius-bottomleft:5px;
	border-radius-bottomright:5px;

	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}





