@charset "utf-8";
/* CSS Document */

td
{
	background-color: #9f8282;

}

input.textfield
{
	background-color: #83829f;
	border-style: groove;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

input.button
{
	border-color:blue blue blue blue;
	background-color: #77759f;
	border-style: ridge;
	border-width: medium medium medium medium;
	-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

input:focus
{
	border-color:blue blue blue blue;
	border-width:thick thick thick thick;
	height:25px;
	background-color:white;
	

}



