@charset "utf-8";

/*#popup
   {
      position: absolute;
      border: 1px solid #666666;
background-color:#666;
      width: 450px;
      height: 300px;
      margin-top: 0px;
      
   }
   
   #popup a {
	   
	text-align:center;
	text-decoration: none;
	color: black;
	padding: 10px 10px;

	}*/
#contenedor
{
	width:1200px;
	margin: 0 auto 0 auto;
}
#cabecera
{
	
	font-size: 20pt;
	font-family:Cambria;
	text-shadow:#00C;
	text-decoration:underline;
	width:100%;
	height:90px;
	float:left;
	background-color: #003333;
	clear:both;
	 -moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:0px;
border-radius-bottomright:0px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
#menu
{
	width:100%;
	height:65px;
	float:left;
	/*background-color: #fc5050;
	*/
	background-color:#000066;
	clear:both;
	font-size: 14pt;
	font-family:Cambria;
	font-weight:bold;
	position: relative;

}
#sesion
{
	width:100%;
	height:30px;
	float:left;
	/*background-color: #fc5050;
	*/
	background-color:#000066;
	
	clear:both;
	font-size: 14pt;
	font-family:Cambria;
	font-weight:bold;
	position: relative;
	color: #9FF;
}
#izquierdo
{
	width:13%;
	height:500px;
	float:left;
	background-color: #000033;
	font-size: 14pt;
	font-family:Cambria;
	font-weight:bold;
	z-index:0;
	color: #9FF;
	


}
#cuerpo
{
	width:74%;
	height:500px;
	float:left;
	background-color: #ffffff;
	z-index:1;
	
}
#resultado
{
	overflow:scroll;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	width:90%;
	height:425px;
	float:left;
	background-color: #77759f;
	
	text-align: left;
		 -moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;

-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;

border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-bottomleft:5px;
border-radius-bottomright:5px;

border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}



#derecho
{
	width:13%;
	height:500px;
	float:left;
	background-color: #000033;
	font-size: 14pt;
	font-family:Cambria;
	font-weight:bold;
	color: #9FF;

}
#pie
{
	width:100%;
	height:30px;
	float:left;
	background-color: #5050fc;
	clear:both;
}

 

 
#menu a {
	text-decoration: none;
	color: #9FF;
	padding: 10px 10px 10px 10px;
	}
	#sesion a {
	
	text-decoration: none;
	color: #9FF;
	

	}
 
#menu a:hover {
	text-align:center;
	vertical-align:middle;

	
	font-family:"Agency FB";
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000066;
	/*font-size: 20pt;
	border-style: ridge;
	border-width: thick thick thick thick;
	border-color:white white white white;
	font-style:normal;
	  font-weight: normal;
	 -moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:0px;
border-radius-topright:10px;
border-radius-bottomleft:10px;
border-radius-bottomright:0px;

border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:0px;*/
	
}
#sesion a:hover {
	text-align:center;
	vertical-align:middle;

	
	font-family:"Agency FB";
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000066;
	font-size: 20pt;
	border-style: ridge;
	border-width: thick thick thick thick;
	border-color:white white white white;
	font-style:normal;
	  font-weight: normal;
	 -moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:0px;
border-radius-topright:10px;
border-radius-bottomleft:10px;
border-radius-bottomright:0px;

border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:0px;
	
}
#menu a:active
{
	font-style:italic;
	border-style:groove;
	text-transform:uppercase;
	border-color:yellow yellow yellow yellow;
	color:yellow;
	border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px;  
 background-color:#003;
   font-weight: bolder;

}
#sesion a:active
{
	font-style:italic;
	border-style:groove;
	text-transform:uppercase;
	border-color:yellow yellow yellow yellow;
	color:yellow;
	border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px;  
 background-color:#003;
   font-weight: bolder;

}

#derecho ul, li {
	list-style-type: none;

}
 
#derecho ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
 
#derecho li {
	float: left;
}
#menu ul, li {
	list-style-type: none;

}
 
#menu ul {
	
	padding: 0;
	list-style-type: none;
}
 
#menu li {
	float: left;
}
 

 
#derecho a {
	float:left;
	text-decoration: none;
	color: #9FF;
	
	display: block;
	padding: 6px 9px;
	}
 
#derecho a:hover {

	
	
	
	text-align:center;
	vertical-align:middle;
	
	
	font-family:"Agency FB";
	
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000066;
	/*
	font-size: 20pt;
	border-style: ridge;
	border-width: thick thick thick thick;
	border-color:white white white white;
	font-style:normal;
	  font-weight: normal;
	 -moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:0px;
border-radius-topright:10px;
border-radius-bottomleft:10px;
border-radius-bottomright:0px;

border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:0px;*/
	
}
#derecho a:active
{
	font-style:italic;
	/*
	border-style:groove;
	text-transform:uppercase;
	
	border-color:yellow yellow yellow yellow;*/
	color:yellow;
	/*
	border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px;  
 background-color:#003;
   font-weight: bolder;*/

}

#izquierdo ul, li {
	list-style-type: none;

}
 
#izquierdo ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
 
#izquierdo li {
	float: left;
}
 

 
#izquierdo a {
	float:left;
	text-decoration: none;
	color: #9FF;
	display: block;
	padding: 10px 10px 10px 10px;
	}
 
#izquierdo a:hover {
	text-align:center;
	vertical-align:middle;
    

	font-family:"Agency FB";
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000066;
	/*
	font-size: 20pt;
	border-style: ridge;
	border-width: thick thick thick thick;
	border-color:white white white white;
	font-style:normal;
	  font-weight: normal;
	 -moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:0px;
border-radius-topright:10px;
border-radius-bottomleft:10px;
border-radius-bottomright:0px;

border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:0px;
*/
z-index:0;
	
}
#izquierdo a:active
{
	font-style:italic;
	/*border-style:groove;
	text-transform:uppercase;*/
	border-color:yellow yellow yellow yellow;
	color:yellow;
	/*border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px;*/
 background-color:#003;
   font-weight: bolder;
   z-index:0;

}



#resultado a {
	float:left;
	text-decoration: none;
	color: black;
	
	display: block;
	padding: 6px 9px;
	}
 
#resultado a:hover {
	text-align:center;
	vertical-align:middle;

	
	font-family:"Agency FB";
	text-decoration: none;
	color: #FFFFFF;
	background-color: #000066;
	/*
	font-size: 20pt;
	border-style: ridge;
	border-width: thick thick thick thick;
	border-color:white white white white;
	font-style:normal;
	  font-weight: normal;
	 -moz-border-radius-topleft:0px;
-moz-border-radius-topright:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:0px;

-webkit-border-top-left-radius:0px;
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:0px;

border-radius-topleft:0px;
border-radius-topright:10px;
border-radius-bottomleft:10px;
border-radius-bottomright:0px;

border-top-left-radius:0px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:0px;
*/
z-index:0;
	
}
#resultado a:active
{
	font-style:italic;
	border-style:groove;
		
	
	border-color:yellow yellow yellow yellow;
	color:yellow;
	/*
	border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px;  
 background-color:#003;*/
   font-weight: bolder;
   z-index:0;

}

#izquierdo li:hover
{
  list-style-image: url(../IMG/insertarc.gif);
}
#izquierdo li:active
{
  list-style-image: url(../IMG/insertarc2.gif);
}

#menu li:hover
{
   list-style-image: url(../IMG/imprimirc.gif);
}

#menu li:active
{
   list-style-image: url(../IMG/imprimirc2.gif);
}

p:first-letter 
{
	font-family:"Old English Text MT";
	font-size:40pt;
}
p:hover
{
	color: #FFFFFF;
	text-decoration:none;
	background-image:url(../IMG/farma3.gif);
	background-color: #000066;
	border-style: dashed;
	border-width: medium medium medium medium;
	border-color:white white white white;
	border-radius:40px;
-moz-border-radius:40px; 
-webkit-border-radius:40px;  
	
}
p:active
{
	text-decoration:none;
	border-style: dotted;
	border-width:thick thick thick thick;
	border-color:yellow yellow yellow yellow;
	background-image:url(../IMG/farma2.gif);
	color:yellow;
	background-color:#003;
	
	border-spacing:inherit;
}
#nivel
{display:none;}